
.large_word {
  font-size: 48pt;
  font-family: 'courier';
}

.small_word {
  font-size: 18pt;
  font-family: 'courier';
}

.medium_word {
  font-size: 18pt;
  font-family: 'sans-serif'
}

.pure-g {
  font-family: 'sans-serif';
  font-size: 18pt;
  padding-top: 30px;
}

.datagrid .pure-u-1-5 .selection {
  cursor: pointer;
  border: 1px solid black;
  min-height: 120px;
  margin: 10px;

  text-align: center;
}

.datagrid .pure-u-1-5 .selection .middle {
  margin-top: 50px;
}

.datagrid .pure-u-1-5 .selection.previously-selected {
  border-color: red;
}

#study {
  display: none;
}

#grid {
  display: block;
}

#next-footer {
  display: none;
}

#jol {
  margin-top: 200px;
}

.close-button {
  display: none;
  float: right;
  margin: 5px;

  font-family: 'sans-serif';
  font-size: 18px;
}

footer.cmef-buttons.timer-container {
  text-align: center;
}

.cmef-buttons .timer {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 80px;
  height: 36px;
  margin: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 10px;*/
  font-size: 30pt;
}